[Unit]
Description=Pool Controller
Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
WorkingDirectory=/var/local/run/pool/
ExecStart=/usr/local/bin/poolController
Restart=always
RestartSec=10
User=pi
Group=pi
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rpi-pool-controller

[Install]
WantedBy=multi-user.target
